body {
    text-align: center;
    background: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

a, a:link, a:visited {
    text-decoration: none;
    color: #333;
    background: transparent;
    border-bottom: 0;
}

a:hover {
    color: #0087ca;
}
ul li {
    list-style: none;
    display: inline-block;
}

.header h2 {
    color: gray;
    font-size: 18px;
}

.header .logoimge{
    width: 100%;
    height: 2px;
    background: #828181;
    position: fixed;
    top: 0;
}

.body {
    border-top: 1px solid #b7b7b7;
    padding-top: 50px;
    margin: 50px auto;
}

.about-us {
    text-align: left;
    /*color: #800707;*/
}

.about-us .s_title {
    width: 200px;
    color: #333;
}

.about-us .s_body {
    color: #333;
    font-style: oblique;
    text-indent: 2em;
    margin: 5px 0;
}

.menu ul {
    font-size: 14px;
}

.menu li {
    font-size: 18px;
    margin: 0 15px;
    color: red;
}

.body div {
    margin: 0 auto;
}

.body .brand_stories {
    width: 990px;
}

.body .brand_stories ul li{
    width: 250px;
    margin: 0 5px;
    padding: 0;
}

.body .about-us {
    width: 990px;
    text-align: center;
}

.body .about-us .s_title {
    margin: 50px auto;    
}

.body .about-us .s_body {
    margin: 50px auto;    
}

.footer {
    color: #999;
    background: #ececec;
    font-size: 14px;
    padding: 0 auto;
    width: 100%;
    border: 1px solid #e6e6e6;
    padding: 5px 0;
}

.footer  a, a:link, a:visited {
    color: #999;
}
