body {
    text-align: center;
    background: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

a, a:link, a:visited {
    text-decoration: none;
    color: #333;
    background: transparent;
    border-bottom: 0;
}

a:hover {
    color: #0087ca;
}

.header h2 {
    color: gray;
    font-size: 18px;
}
.header .logoimge{
    width: 100%;
    height: 2px;
    background: #404040;
    position: fixed;
    top: 0;
}

.body {
    width: 60%;
    margin: 0 auto;
}

.about-us {
    text-align: left;
    /*color: #800707;*/
}

.about-us .s_title {
    width: 200px;
    color: #333;
}

.about-us .s_body {
    color: #333;
    font-style: oblique;
    text-indent: 2em;
    margin: 5px 0;
}

.menu ul {
    font-size: 14px;
}

.menu li {
    font-size: 18px;
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    color: red;
}

.footer {
    color: #999;
    background: #111;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    padding: 0 auto;
    width: 100%;
}

.footer  a, a:link, a:visited {
    color: #999;
}
